<fieldset class="fieldset fieldset3 collapsed js-share-form">
  <include
    src="./legendFielset.html"
    jsclass="js-share-legend"
    iconType="fa-solid "
    icon="fa-handshake-simple"
    title="Comparte"
  ></include>

  <div class="fieldset3__container">
    <button type="submit" class="fieldset3__container--button js-btn-create">
      <i class="fa-regular fa-address-card"></i
      ><a href="" class="fieldset3__container--button_a">crear tarjeta</a>
    </button>
    <p class="js-msj-error msjError"></p>

    <div class="fieldset3__container--created hidden js-card-created">
      <p class="fieldset3__container--created_p">La tarjeta ha sido creada:</p>
      <a
        href=""
        class="fieldset3__container--created_link js-card-link"
        target="_blank"
        >https://awesome-profile-card.com?id=A456DF001</a
      >
      <a class="link js-link-twitter" href="#" target="_blank">
        <div class="fieldset3__container--created_button">
          Compartir en <i class="fa-brands fa-x-twitter"></i></div
      ></a>
    </div>
  </div>
</fieldset>
