<fieldset class="fieldset collapsed js-fill-form">
  <include
    src="./legendFielset.html"
    jsclass="js-fill-legend"
    iconType="fa-solid "
    icon="fa-feather"
    title="Rellena"
  >
  </include>

  <div class="fieldset__form">
    <label class="fieldset__form--label" for="fullName">Nombre completo <span class="star">*</span></label>
    <input
      class="fieldset__form--input js-input-name"
      type="text"
      name="fullName"
      placeholder=" Ej: Sally Jill"
    />
    <p class="inputError js-err-name"></p>

    <label class="fieldset__form--label" for="job">Puesto <span class="star">*</span></label>
    <input
      class="fieldset__form--input js-input-job"
      type="text"
      name="job"
      placeholder=" Ej: Front-end unicorn"
    />
    <p class="inputError js-err-job"></p>
    <label class="fieldset__form--label">Imagen de perfil <span class="star">*</span></label>
    <div class="fieldset__form--container">
      <label for="addImg" class="fieldset__form--button">Añadir Imagen</label>
      <input
        class="hidden js__profile-upload-btn"
        type="file"
        name="addImg"
        id="addImg"
      />
      <div class="miniPreview js__profile-preview"></div>
    </div>
    <p class="inputError js-err-img"></p>
    <label class="fieldset__form--label" for="email">Email <span class="star">*</span></label>
    <input
      class="fieldset__form--input js-input-email"
      type="email"
      name="email"
      placeholder=" Ej: sally-hill@gmail.com"
    />
    <p class="inputError js-err-email"></p>

    <label class="fieldset__form--label" for="phone">Teléfono</label>
    <input
      class="fieldset__form--input js-input-phone"
      type="tel"
      name="phone"
      placeholder=" Ej: 555-55-55-55"
    />
    <p class="inputError js-err-phone"></p>

    <label class="fieldset__form--label" for="linkedin">Linkedin <span class="star">*</span></label>
    <input
      class="fieldset__form--input js-input-linkedin"
      type="text"
      name="linkedin"
      placeholder=" Ej: sally.hill"
    />
    <p class="inputError js-err-linkedin"></p>

    <label class="fieldset__form--label" for="github">Github <span class="star">*</span></label>
    <input
      class="fieldset__form--input js-input-GitHub"
      type="text"
      name="github"
      placeholder=" Ej: @sally-hill"
    />
    <p class="inputError js-err-github"></p>
  </div>
</fieldset>
