<fieldset class="fieldset">
  <include
    src="./legendFielset.html"
    iconType="fa-regular"
    icon="fa-object-ungroup"
    title="Diseña"
  ></include>

  <div class="design">
    <p class="colortext">colores</p>
    <div>
      <div class="color1">
        <label for="bluecolors"
          ><input id="option1" type="radio" value="chooseseat" name="option" />
        </label>
        <div class="option1color1"></div>
        <div class="option1color2"></div>
        <div class="option1color3"></div>
      </div>
      <div class="color2">
        <label for="redcolors"
          ><input id="option2" type="radio" value="chooseseat" name="option"
        /></label>
        <div class="option2color1"></div>
        <div class="option2color2"></div>
        <div class="option2color3"></div>
      </div>
      <div class="color3">
        <label for="greycolors"
          ><input id="option3" type="radio" value="chooseseat" name="option"
        /></label>
        <div class="option3color1"></div>
        <div class="option3color2"></div>
        <div class="option3color3"></div>
      </div>
    </div>
  </div>
</fieldset>
