<fieldset class="fieldset">
  <legend class="fieldset__legend">
    <h2 class="fieldset__legend--title">
      <span class="fa-regular fa-keyboard fieldset__legend--title--icon"></span
      >Rellena
    </h2>
    <span class="fa-solid fa-chevron-up fa-2xl fieldset__legend--arrow"></span>
  </legend>

  <label class="fieldset__label" for="fullName">Nombre completo</label>
  <input
    class="fieldset__input"
    type="text"
    name="fullName"
    placeholder=" Ej: Sally Jill"
  />

  <label class="fieldset__label" for="job">Puesto</label>
  <input
    class="fieldset__input"
    type="text"
    name="job"
    placeholder=" Ej: Front-end unicorn"
  />

  <label class="fieldset__label" for="addImg">Imagen de perfil</label>
  <input
    class="fieldset__button"
    type="button"
    name="addImg"
    value="Añadir Imagen"
  />

  <label class="fieldset__label" for="email">Email</label>
  <input
    class="fieldset__input"
    type="email"
    name="email"
    placeholder=" Ej: sally-hill@gmail.com"
  />

  <label class="fieldset__label" for="phone">Teléfono</label>
  <input
    class="fieldset__input"
    type="tel"
    name="phone"
    placeholder=" Ej: 555-55-55-55"
  />

  <label class="fieldset__label" for="linkedin">Linkedin</label>
  <input
    class="fieldset__input"
    type="text"
    name="linkedin"
    placeholder=" Ej: linkedin.com/in/sally.hill"
  />

  <label class="fieldset__label" for="github">Github</label>
  <input
    class="fieldset__input"
    type="text"
    name="github"
    placeholder=" Ej: @sally-hill"
  />
</fieldset>
