<fieldset class="fieldset fieldset3 collapsed">
  <include
    src="./legendFielset.html"
    jsclass="js-share-legend"
    iconType="fa-solid "
    icon="fa-share-nodes"
    title="Comparte"
  ></include>

  <div class="fieldset3__container js-share-form">
    <div class="fieldset3__container--button">
      <i class="fa-regular fa-address-card"></i
      ><a href="" class="fieldset3__container--button_a">crear tarjeta</a>
    </div>
    <div class="fieldset3__container--created">
      <p class="fieldset3__container--created_p">La tarjeta ha sido creada:</p>
      <a href="" class="fieldset3__container--created_link"
        >https://awesome-profile-card.com?id=A456DF001</a
      >
      <div class="fieldset3__container--created_button">
        <i class="fa-brands fa-x-twitter"></i> Compartir en twitter
      </div>
    </div>
  </div>
</fieldset>
