<section class="sectionP">
  <div class="preview">
    <form action="">
      <div class="preview__reset">
        <i class="preview__reset--icon fa-regular fa-trash-can fa-lg"></i>
        <input class="preview__reset--input" type="reset" value="Reset" />
      </div>
    </form>

    <div class="preview__container">
      <div class="preview__container--info">
        <div class="cajaBorde">
          <p class="name">Nombre Apellido</p>
          <p class="text">Front-end developer</p>
        </div>
      </div>

      <figure class="preview__container--img">
        <img
          class="pic"
          src="./assets/images/andy_warhol_marilyn_monroe.jpg"
          alt=""
        />
      </figure>

      <ul class="preview__container--icons">
        <li class="iconBorder">
          <a class="iconP" href=""
            ><i class="fa-solid fa-mobile-screen-button fa-2xl"></i
          ></a>
        </li>

        <li class="iconBorder">
          <a class="iconP" href=""
            ><i class="fa-regular fa-envelope fa-2xl"></i
          ></a>
        </li>

        <li class="iconBorder">
          <a class="iconP" href=""
            ><i class="fa-brands fa-linkedin-in fa-2xl"></i
          ></a>
        </li>

        <li class="iconBorder">
          <a class="iconP" href=""
            ><i class="fa-brands fa-github-alt fa-2xl"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</section>
