<section class="sectionP">
  <div class="preview">
    <button class="preview__reset js-btn-delete">
      <i class="fa-regular fa-trash-can fa-lg"></i>Reset
    </button>

    <div class="preview__container">
      <div class="preview__container--info">
        <div class="personal-info">
          <p class="fullname js-preview-name">Nombre Apellido</p>
          <p class="job js-preview-job">Front-end developer</p>
        </div>
      </div>

      <figure class="preview__container--img">
        <img
          class="pic"
          src="./assets/images/andy_warhol_marilyn_monroe.jpg"
          alt=""
        />
      </figure>

      <ul class="preview__container--icons">
        <li class="iconBorder">
          <a class="iconP" href=""
            ><i class="fa-solid fa-mobile-screen-button fa-2xl"></i
          ></a>
        </li>

        <li class="iconBorder">
          <a class="iconP js-preview-email" href="#"
            ><i class="fa-regular fa-envelope fa-2xl"></i
          ></a>
        </li>

        <li class="iconBorder">
          <a class="iconP" href=""
            ><i class="fa-brands fa-linkedin-in fa-2xl"></i
          ></a>
        </li>

        <li class="iconBorder">
          <a class="iconP" href=""
            ><i class="fa-brands fa-github-alt fa-2xl"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</section>
