<section class="sectionTwo">
  <ul class="sectionTwo__list">
    <li class="sectionTwo__list__icon">
      <i class="fa-regular fa-object-ungroup fa-2xl"></i>
      <p class="sectionTwo__list__icon--text">Diseña</p>
    </li>
    <li class="sectionTwo__list__icon">
      <i class="fa-regular fa-keyboard fa-2xl"></i>
      <p class="sectionTwo__list__icon--text">Rellena</p>
    </li>

    <li class="sectionTwo__list__icon">
      <i class="fa-solid fa-share-nodes fa-2xl"></i>
      <p class="sectionTwo__list__icon--text">Comparte</p>
    </li>
  </ul>

  <a class="sectionTwo__button" href="">Comenzar</a>
</section>
