<section class="sectionTwo">
  <ul class="sectionTwo__list">
    <li class="sectionTwo__list__icon">
      <i class="fa-solid fa-brush fa-2xl"></i>
      <p class="sectionTwo__list__icon--text">Diseña</p>
    </li>
    <li class="sectionTwo__list__icon">
      <i class="fa-solid fa-feather fa-2xl"></i>
      <p class="sectionTwo__list__icon--text">Rellena</p>
    </li>

    <li class="sectionTwo__list__icon">
      <i class="fa-solid fa-handshake-simple fa-2xl"></i>
      <p class="sectionTwo__list__icon--text">Comparte</p>
    </li>
  </ul>

  <a class="sectionTwo__button" href="createPage.html">Comenzar</a>
</section>
