// fonts
$font-merri: 'Merriweather', serif;
$font-montse: 'Montserrat', sans-serif;
$font-open: 'Open Sans', sans-serif;
$bold: 700;
$black: 900;
$semi-bold: 600;
$regular: 400;
$font-size: 1.28rem;

// colors
$black-32: rgba(0, 0, 0, 0.32);
$black-20: rgba(0, 0, 0, 0.2);
$light-khaki: #f9f4dc;
$tomato: #e95626;
$dried-blood: #420101;
$rusty-red: #bd1010;
$faded-orange: #eab052;
$light-grey-blue: #a0c0cf;
$azure: #00a0f5;
$white: #d5d5d5;
$white-two: #fff;
$white-three: #d8d8d8;
$white-four: #f5f5f5;
$black: #000;
$gunmetal: #54585a;
$brownish-grey: #6b6b6b;
$slate: #3e5b65;
$hospital-green: #a2deaf;
$silver: #bfcdd0;
$pale-grey: #dde9ed;
$dark-green-blue: #114e4e;
$dirty-blue: #438792;
$pinkish-grey: #c5c5c5;
