.body {
  background-color: $white-four;
}

.bodyCP {
  background-color: $white-two;
}

.main {
  height: 50vh;
  @media (min-width: 768px) {
    height: 53vh;
  }
  @media (min-width: 1024px) {
    height: 50vh;
  }
}

.mainCP {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    background-image: linear-gradient(to bottom, $white-four, $white-two 9%);
    padding: 2rem 4rem;
    height: 81vh;
  }
  @media (min-width: 1024px) {
    height: fit-content;
  }
}

.collapsed {
  .fieldset__legend {
    &--arrow {
      transform: rotate(180deg);
    }
  }

  .design,
  .fieldset__form,
  .fieldset3__container {
    display: none;
  }
}

.bluecolors {
  .preview__container--info {
    .personal-info {
      border-left: 0.5rem solid $dirty-blue;

      .fullname {
        color: $dark-green-blue;
      }
    }
  }

  .preview__container--icons {
    .iconBorder {
      border: 0.2rem solid $hospital-green;

      .iconP {
        color: $dark-green-blue;
      }
    }
  }
}

.redcolors {
  .preview__container--info {
    .personal-info {
      border-left: 0.5rem solid $rusty-red;

      .fullname {
        color: $dried-blood;
      }
    }
  }

  .preview__container--icons {
    .iconBorder {
      border: 0.2rem solid $tomato;

      .iconP {
        color: $dried-blood;
      }
    }
  }
}

.greycolors {
  .preview__container--info {
    .personal-info {
      border-left: 0.5rem solid $faded-orange;

      .fullname {
        color: $slate;
      }
    }
  }

  .preview__container--icons {
    .iconBorder {
      border: 0.2rem solid $light-grey-blue;

      .iconP {
        color: $slate;
      }
    }
  }
}
