.body {
  background-color: $white-four;
}
.bodyCP {
  background-color: $white-two;
}
.main {
  height: 50vh;
}
.mainCP {
  
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    background-image: linear-gradient(to bottom, $white-four, $white-two 9%);
    padding: 2rem 4rem;
    height: 100vh;
}
  }
  

  .collapsed {
    .fieldset__legend{
      &--arrow {
        transform: rotate(180deg);
      }

    }
    .design, .fieldset__form, .fieldset3__container{
    display: none;
    }
}

