.fieldset3 {
  &__container {
    @include dflex(column, center, center);
    padding-bottom: 30px;

    &--button {
      background-color: $primary-color;
      border-radius: 1.2rem;
      padding: 1.3rem 1.8rem 1.3rem 1.7rem;
      font-weight: 600;
      margin-bottom: 3vh;

      &_a {
        padding: 1.3rem 1.8rem 1.3rem 1.7rem;
        @include fontFieldset(1.8rem, $white-two);
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    &--created {
      @include dflex(column, center, center);
      &_p {
        @include fontFieldset(1.8rem, $gunmetal);
        font-weight: 600;
        margin-top: 2rem;
      }
      &_link {
        @include fontFieldset(1.2rem, $primary-color);
        font-weight: 600;
        text-align: center;
        margin: 0.5rem;
      }
      &_button {
        background-color: $azure;
        border-radius: 0.3rem;
        box-shadow: 0 0 0.4rem 0 $black-32;
        @include fontFieldset(1.4rem, $white-two);
        line-height: 1.43;
        margin-top: 1vh;
        padding: 0.5rem;
      }
    }
  }
}

.fa-address-card {
  color: $white-two;
  font-size: 1.8rem;
}

.link {
  text-decoration: none;
}

.activeButton {
  background-color: $pale-grey;
}

.msjError {
  @include fontFieldset(3rem, $rusty-red);
  font-weight: bold;
  text-align: center;
}