.fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
  border-bottom: $white-three solid 1px;

  @media (min-width: 768px) {
    margin-left: 0;
  }

  &__legend {
    cursor: pointer;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 25px;
    @include dflex(row, space-between, center);

    &--title {
      @include fontFieldset(1.8rem, $gunmetal);
      font-weight: $semi-bold;
      text-transform: uppercase;
      &--icon {
        color: $primary-color;
        padding-right: 1rem;
      }
    }
    &--arrow {
      color: $gunmetal;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    &--container {
      @include dflex(row, flex-start, stretch);
      gap: 20px;
      .miniPreview {
        background-position: center;
        background-size: cover;
        border: solid 1px $hospital-green;
        height: 30px;
        width: 30px;
        background-image: url('../images/unicorn.png');
      }
    }
    &--label {
      @include fontFieldset(1.4rem, $dark-green-blue);
      padding-bottom: 0.7rem;
      color: $primary-color;
    }
    &--input {
      margin-bottom: 2rem;
      border: solid 1px $lile;
      @include fontFieldset(1.4rem, $dark-green-blue);
      padding: 5px;
      ::placeholder {
        color: $pinkish-grey;
      }
      
    }
    &--button {
      @include dflex(row, center, center);
      margin-bottom: 2rem;
      height: 30px;
      width: 140px;
      background-color: $primary-color;
      border: none;
      @include fontFieldset(1.4rem, $white-two);
      border-radius: 3px;
      box-shadow: 0 0 4px 0 $black-32;
    }
  }
}
