.footer {
  @include dflex(column, center, center);
  height: 20vh;
  gap: 1rem;
  border: solid 0.1rem $white-three;
  background-color: $white-two;

  @media all and (min-width: 768px) {
    height: 7vh;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 4rem;
  }

  @media (min-width: 1024px) {
    height: fit-content;
  }
}

.copy {
  @include fontFieldset(1.4rem, $brownish-grey);
  line-height: 2rem;
  opacity: 0.5;
}

.imagesLogo {
  display: flex;
  justify-content: center;
}

.logo {
  width: 100px;
}
