.sectionP {
  padding-block: 4rem;
  background-image: linear-gradient(to bottom, $silver, $pale-grey);
  @include dflex(column, center, center);

  @media (min-width: 768px) {
    border-radius: 0.4rem;
    width: 40%;
  }
  @media (min-width: 1024px) {
    width: 60%;
  }

  .preview {
    &__reset {
      border: 0.1rem solid $white-two;
      border-radius: 2rem;
      @include dflex(row, center, center);
      gap: 0.5rem;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
      background-color: transparent;
      @include fontFieldset(1.2rem, $gunmetal);
      margin-bottom: 3rem;
      cursor: pointer;
    }

    &__container {
      width: 24rem;
      background-color: $white-two;
      box-shadow: 0 1px 10px 0 $black-20, 0 1px 3px 0 rgba(0, 0, 0, 0.35);
      border-radius: 0.2rem;

      &--info {
        @include dflex(column, end, 0);
        padding-bottom: 1rem;
        padding-top: 2rem;

        .personal-info {
          padding-left: 1rem;
          .fullname {
            font-family: $font-montse;
            font-weight: bold;
            font-size: 1.8rem;
          }
          .job {
            font-family: $font-montse;
            font-size: 1.6rem;
            color: $gunmetal;
          }
        }
      }

      &--img {
        background-image: url('../images/andy_warhol_marilyn_monroe.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 24rem;
        height: 20rem;
      }

      &--icons {
        width: 100%;
        height: 5.4rem;
        @include dflex(row, 0, center);
        list-style: none;
        gap: 1rem;
        padding-left: 2rem;

        .iconBorder {
          width: 3.2rem;
          height: 3.2rem;
          border-radius: 50%;
          @include dflex(0, center, 0);
          padding: 1rem;

          .iconP {
            @include dflex(0, center, center);
            text-decoration: none;
          }
        }
      }
    }
  }
}
