.sectionTwo {
  @include dflex(column, center, center);
  gap: 5rem;
  @media (min-width: 768px) {
    gap: 19rem;
  }
  @media (min-width: 1024px) {
    gap: 5rem;
  }

  &__list {
    width: 80%;
    height: 7.38rem;
    margin-top: 2rem;
    border: 0.2rem solid rgba(225, 115, 52, 0.21);
    border-radius: 0.5rem;
    @include dflex(row, center, center);
    gap: 2.5rem;
    @media (min-width: 768px) {
      width: 50%;
      margin-top: 3rem;
    }

    &__icon {
      list-style: none;
      @include dflex(column, center, none);
      gap: 1rem;
      text-align: center;
      width: 6rem;
      height: 4.8rem;

      &--text {
        @include fontFieldset($font-size, $gunmetal);
      }

      .fa-2xl {
        color: $primary-color;
      }
    }
  }

  &__button {
    border: 0.1rem solid $dirty-blue;
    background-color: $dirty-blue;
    text-decoration: none;
    @include fontFieldset(1.6rem, white);
    font-weight: $semi-bold;
    text-transform: uppercase;
    width: 12.9rem;
    height: 4.2rem;
    @include dflex(row, center, center);
    border-radius: 3rem;
  }
}
